html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
  }

.sidebar {
    position: fixed;
    display: none;
    height: 80%;
    left: 0;
    overflow: auto;
    width: 22%;
    background-color: rgba(241, 241, 241, .9);
    margin-top: 10%;
    border-top: 1px solid black;
    z-index: 10;
  }

.topbar {
    position: fixed;
    display: none;
    top: 5px;
    height: 50px;
    width: 25%;
    margin-left: 20%;
    margin-right: 5%;
    padding-left: 3%;
    z-index: 5;
    background-color: rgba(241, 241, 241, .3);
  }

.topbar-modified {
    position: fixed;
    display: none;
    margin-top: 6%;
    height: 50px;
    width: 21%;
    margin-right: 5%;
    padding-right: 1%;
    z-index: 5;
    background-color: rgba(241, 241, 241, .8);
}

.content {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }

  .venue-circle {
    border-radius: 50%;
    background-color: rgba(255, 0, 0, .8);
    color: white;
    font-weight: bold;
    text-align: center;
  }

.sidebar > div {
  padding-top: 5%;
  padding-bottom: 5px;
  padding-left: 2%;
  border-bottom: 1px solid black;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#pagination {
  border-bottom: none;
  padding-left: 5%;
  padding-bottom: 15%;
}

#pagination a {
  display: block;
  float: left;
  height: 20px;
  width: 20px;
  background-color: rgb(0,50,75);
  color: #555555;
  text-align: center;
  text-decoration: none;
  font-family: Times, 'Times New Roman', Georgia, Palatino; /* ATTN: need a better font stack */
  font-weight: bold;
  font-size: 16px;
  outline: none;
  vertical-align: middle;

  background: #F3F3F3; /* Old browsers */
  background: -moz-linear-gradient(top,  #F3F3F3 0%, #D3D3D3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#D3D3D3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* IE10+ */
  background: linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#D3D3D3',GradientType=0 ); /* IE6-9 */

}

#pagination a:hover, #pagination a:focus, #pagination a:active {

  background: #CECECE; /* Old browsers */
  background: -moz-linear-gradient(top,  #E4E4E4 0%, #CECECE 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E4E4E4), color-stop(100%,#CECECE)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* IE10+ */
  background: linear-gradient(top,  #E4E4E4 0%,#CECECE 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E4E4E4', endColorstr='#CECECE',GradientType=0 ); /* IE6-9 */

}

#pagination a.disabled, #pagination a.disabled:hover, #pagination a.disabled:focus, #pagination a.disabled:active {

  background: #F3F3F3; /* Old browsers */
  background: -moz-linear-gradient(top,  #F3F3F3 0%, #D3D3D3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#D3D3D3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* IE10+ */
  background: linear-gradient(top,  #F3F3F3 0%,#D3D3D3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#D3D3D3',GradientType=0 ); /* IE6-9 */

  color: #A8A8A8;
  
}

#pagination a:first-child {
  border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
}

#pagination a:last-child {
  border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
}

#pagination a {
  border-right: 1px solid #CDCDCD; 
  border-left: 1px solid #CDCDCD;   
}

#pagination a:first-child {
  border: none;
}

#pagination a:last-child {
  border: none;
}

#pagination input {
  border: none;
  float: left;
  text-align: center;
  height: 20px;
  outline: none;
  vertical-align: middle;
  width: 120px;
  padding: 0;
  margin: 0;
}


.category_item, .topbar_title {
  display: inline;
  margin-left: 2%;
}

.category_item img {
  margin-top: 1%;
}